<html lang="en" style="margin: 0; padding: 0;">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- Import Cabin font -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/custom.css">
  </head>
  <body style="margin: 0; padding: 0; font-family: sans-serif; background: rgb(25, 35, 38); color: rgb(200, 205, 210);">

<!--    <header style="font-family: 'Cabin', sans-serif; font-size: 2rem; margin-bottom: 0; background: rgb(28, 42, 52); color: white; padding: 1rem; width: 100%; box-sizing: border-box;">-->
    <header style="font-family: sans-serif; font-size: 2rem; margin-bottom: 0; background: rgb(28, 42, 52); color: white; padding: 1rem; width: 100%; box-sizing: border-box;">
      <span style="color:rgb(91, 206, 250);">Fluids,</span>
      <span style="color:rgb(245, 169, 185);">Propulsion,</span>
      <span style="color:white;">Chaos</span>
    </header>

    <div style="padding: 2rem;">
      {{ content }}
    </div>

  </body>
</html>
