<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/custom.css">
  </head>
  <body style="font-family: sans-serif; padding: 2rem; background: rgb(20, 32, 38); color: rgb(210, 215, 220);">
<!--     <header style="font-size: 2rem; margin-bottom: 1rem; background: rgb(90, 100, 100); "> -->
    <header style="font-size: 2rem; margin-bottom: 1rem; background: rgb(90, 100, 100); color: white; padding: 1rem; width: 100%; box-sizing: border-box;">
      <span style="color:#5bcefa;">Fluids,</span>
      <span style="color:#f5a9b9;">Propulsion,</span>
      <span style="color:white;">Chaos</span>
    </header>

    {{ content }}
  </body>
</html>

